
.game-container {

    .score-container {
        display: flex;
        gap: 4rem;
        justify-content: center;
        margin-top: 2rem;
        
        .score, .high-score {
            font-size: 1.5rem;
        }
    }

    .cards-container {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 4rem;
    
        .card {
            border: 2px solid black;
            padding: 1rem;
            cursor: pointer;

            .card-front {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h3 {
                    font-size: 1.4rem;
                }
            }
        }
        
    }
}

@media (max-width: 1000px) {
    .cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
}